<p-toast></p-toast>
<h1 class="mt-5 text-center x-primary">{{ jobId ? 'Edit' : 'Add'}} Job</h1>

<div class="tabPanels mt-5">
  <form [formGroup]="JobForm" (submit)="submitForm()">
    <!-- JOB INFORMATION -->
    <div>
      <!-- NAME -->
      <div class="mb-5">
        <div class="">
          <div class="flex align-items-center gap-4">
            <span class="x-font-roboto font-medium" style="white-space: nowrap"
              >JOB NAME</span
            >
            <div class="line"></div>
          </div>
          <small class="text-sm x-black50"> This name is the job title </small>
        </div>
        <div class="input-container">
          <p-floatLabel>
            <input
              type="text"
              class="w-full"
              id="name"
              pInputText
              formControlName="name"
            />
            <label for="name">Job Name</label>
          </p-floatLabel>
          @if (name.invalid && (name.dirty || name.touched)) {<small
            class="block p-error"
          >
            @if (name.errors?.['required']) {<span
              >Name should not be empty</span
            >} @if (name.errors?.['pattern']) {
            <span>Name should be valid</span>
            } </small
          >}
        </div>
      </div>
      <!-- CATEGORY-->
      <div class="mb-5">
        <div class="">
          <div class="flex align-items-center gap-4">
            <span class="x-font-roboto font-medium" style="white-space: nowrap"
              >JOB CATEGORY</span
            >
            <div class="line"></div>
          </div>
          <small class="text-sm x-black50"> Please select the Category </small>
        </div>
        <div class="input-container">
          <p-dropdown
            id="category"
            [styleClass]="'w-full'"
            [options]="categoryItems"
            formControlName="category"
            [filter]="true"
            placeholder="Select a Job"
          ></p-dropdown>
          @if (category.invalid && (category.dirty || category.touched)) {<small
            class="block p-error"
          >
            @if (category.errors?.['required']) {<span>Category should not be empty</span
            >} @if (category.errors?.['pattern']) {
            <span>Category should be valid</span>
            } </small
          >}
        </div>
        @if (JobForm.value.category === 'others') {
        <div class="input-container">
          <p-floatLabel>
            <input
              type="text"
              id="others"
              formControlName="otherJob"
              class="w-full"
              pInputText
            />
            <label for="others">Please specify</label>
          </p-floatLabel>
          @if (otherJob.invalid && (otherJob.dirty || otherJob.touched)) {<small
            class="block p-error"
          >
            @if (otherJob.errors?.['required']) {<span
              >Category should not be empty</span
            >} @if (otherJob.errors?.['pattern']) {
            <span>Category should be valid</span>
            } </small
          >}
        </div>
        }
      </div>
      <!-- TYPE-->
      <div class="mb-5">
        <div class="">
          <div class="flex align-items-center gap-4">
            <span class="x-font-roboto font-medium" style="white-space: nowrap"
              >JOB TYPE</span
            >
            <div class="line"></div>
          </div>
          <small class="text-sm x-black50"> Please tell us if it full-time or part-time job</small>
        </div>
        <div class="input-container">
          <p-dropdown 
        formControlName="type" 
        [options]="['Full-time','Part-time']"
        [styleClass]="'w-full'"
        placeholder="Select a job type" />
          @if (type.invalid && (type.dirty || type.touched)) {<small
            class="block p-error"
          >
            @if (type.errors?.['required']) {<span>Job type should not be empty</span
            >} @if (type.errors?.['pattern']) {
            <span>Job type should be valid</span>
            } </small
          >}
        </div>
      </div>
    </div>
    <!-- SALARY -->
    <div class="mb-5">
      <div class="mb-2">
        <div class="flex align-items-center gap-4">
          <span class="x-font-roboto font-medium" style="white-space: nowrap"
            >SALARY RANGE</span
          >
          <div class="line"></div>
        </div>
      </div>

      <div class="grid">
        <div class="col-12 sm:col-6">
          <label for="minsalary">Minimum salary</label>
          <div class="currency-input">
            <span class="currency-symbol">XAF</span>
            <input type="number" id="minsalary" formControlName="minsalary" />
          </div>
        </div>

        <div class="col">
          <label for="maxsalary">Maximum salary</label>
          <div class="currency-input">
            <span class="currency-symbol">XAF</span>
            <input type="number" id="maxsalary" formControlName="maxsalary" />
          </div>
        </div>
      </div>
      @if ((minsalary.invalid && (minsalary.dirty || minsalary.touched))) {<small
        class="block p-error"
        >min Salary should be valid </small
      >} @if ( (maxsalary.invalid && (maxsalary.dirty ||
      maxsalary.touched))&&minsalary.valid) {<small class="block p-error"
        >max Salary should be valid </small
      >} @if (JobForm.errors?.['costMismatch'] && (maxsalary.dirty ||
      maxsalary.touched)&&maxsalary.valid&&minsalary.valid) {
      <small class="block p-error"
        >Maximum salary should be greater than minimum salary.</small
      >
      }
    </div>
    <!-- EXPERIENCE -->
    <div class="mb-5">
      <div class="mb-2">
        <div class="flex align-items-center gap-4">
          <span class="x-font-roboto font-medium" style="white-space: nowrap"
            >EXPERIENCE (optional)</span
          >
          <div class="line"></div>
        </div>
        <small class="text-sm x-black50"> Experience is optional </small>
      </div>
      <div class="currency-input">
        <span class="currency-symbol">YEARS</span>
        <input type="number" id="experience" formControlName="experience" />
      </div>
      @if ((experience.errors?.['pattern'])) {<small
        class="block p-error"
        >Experience should be valid </small
      >}
    </div>
    <!-- Deadline-->
    <div class="mb-5">
      <div>
        <div class="flex align-items-center gap-4">
          <span
            class="x-font-roboto font-medium"
            style="white-space: nowrap"
            >Deadline</span
          >
          <div class="line"></div>
        </div>
      </div>
      <div class="input-container">
        <p-calendar formControlName="deadline" styleClass="w-full"/>
        @if (deadline.invalid && (deadline.dirty || deadline.touched)) {<small
          class="block p-error"
        >
          @if (deadline.errors?.['required']) {<span
            >Type should not be empty</span
          >}</small
        >}
      </div>
    </div>
    <!-- REQUIREMENT -->
    <div class="mb-5">
      <div class="mb-3">
        <div class="flex align-items-center gap-4">
          <span class="x-font-roboto font-medium" style="white-space: nowrap"
            >REQUIREMENT</span
          >
          <div class="line"></div>
        </div>
        <small class="text-sm x-black50">Add a requirement</small>
      </div>
      <div>
        <ul style="list-style: none">
          @for (requirement of requirements; track $index) {
          <div class="flex justify-content-between">
            <li>
              <i class="pi pi-check x-primary"></i>
              {{ requirement }}
            </li>
            <button
              type="button"
              style="all: unset"
              (click)="requirements.splice($index, 1)"
            >
              <i class="pi pi-trash text-red-600"></i>
            </button>
          </div>
          }
        </ul>
        <div>
          <p-inputGroup>
            <input
              type="text"
              pInputText
              placeholder="Add a requirement"
              (change)="updateReq($event)"
            />
            <button
              type="button"
              pButton
              icon="pi pi-plus"
              class="p-button-warning"
              (click)="addReq()"
            ></button>
          </p-inputGroup>
        </div>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="mb-5">
      <div class="">
        <div class="flex align-items-center gap-4">
          <span class="x-font-roboto font-medium" style="white-space: nowrap">
            DESCRIPTION
          </span>
          <div class="line"></div>
        </div>
      </div>
      <div class="input-container">
        <textarea
          id="float-input"
          rows="5"
          style="width: 100%"
          formControlName="description"
          pInputTextarea
          placeholder="Write a short description of the job..."
        ></textarea>
      </div>
      @if (description.invalid && (description.dirty || description.touched))
      {<small class="block p-error">
        @if (description.errors?.['required']) {<span
          >Description should not be empty</span
        >} </small
      >}
    </div>

    <!-- NEXT BUTTON -->
    <div class="flex justify-content-end">
      <button
        type="submit"
        class="x-bg-primary p-button px-8 border-none"
        [disabled]="JobForm.invalid && requirements.length<1"
        [classList]="'x-bg-primary p-button px-8 border-none ' + (JobForm.valid && requirements.length>0 ? '' : 'opacity-20') "
      >
        Save
      </button>
    </div>
  </form>
  </div>