<section class="flex justify-content-center">
  <div
    class="w-full border-1 shadow-2 mx-1 border-gray-300 border-round-2xl flex align-items-center flex-column"
    style="max-width: 35rem; padding: 55px 0px 55px 0px"
  >
    <h5 class="title text-2xl mb-5">Reset Password</h5>
    <form [formGroup]="ResetPwdForm" (submit)="submitForm()">
      <!-- PASSWORD -->
      <div class="mb-4">
        <input
          type="password"
          class="w-full"
          id="password"
          pInputText
          formControlName="password"
          placeholder="New Password"
        />
        <small
          class="block p-error"
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <span *ngIf="password.errors?.['required']"
            >Password should not be empty</span
          >
          <span *ngIf="password.errors?.['minlength']"
            >Password should be more than 8 letters</span
          >
        </small>
      </div>

      <!--CONFIRM PASSWORD -->
      <div class="mb-4">
        <input
          type="password"
          class="w-full"
          id="confirmPassword"
          pInputText
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
        <small
          class="block p-error"
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)
          "
        >
          <span *ngIf="confirmPassword.errors?.['required']"
            >Confirm Password should not be empty</span
          >
          <span *ngIf="confirmPassword.errors?.['minlength']"
            >Confirm Password should be more than 8 letters</span
          >
        </small>

        <!-- PASSWORD MISMATCH ERROR -->
        <small>
          <span
            class="block p-error"
            *ngIf="ResetPwdForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
          >
            password should match
          </span>
        </small>
      </div>

      <!-- CONTINUE -->
      <div class="mb-4">
        <button
          type="submit"
          [disabled]="ResetPwdForm.invalid"
          class="p-button x-bg-primary border-teal-400 w-full justify-content-center text-xl"
          [ngClass]="{
            'opacity-20': ResetPwdForm.invalid
          }"
        >
          Continue
        </button>
      </div>
    </form>
  </div>
</section>
