<section class="flex justify-content-center">
  <div
    class="w-full border-1 shadow-2 mx-1 border-gray-300 border-round-2xl flex align-items-center flex-column"
    style="max-width: 40rem; padding: 55px 0px 55px 0px"
  >
    <h5 class="title text-2xl mb-5">Sign Up to JobMaster</h5>
    <form [formGroup]="RegisterForm" (submit)="submitForm()">
      <!-- Name -->
      <div class="mb-4">
        <input
          type="text"
          class="w-full"
          id="name"
          pInputText
          formControlName="name"
          placeholder="Full Name"
        />
        <small
          class="block p-error"
          *ngIf="name.invalid && (name.dirty || name.touched)"
        >
          <span *ngIf="name.errors?.['required']"
            >Name should not be empty</span
          >
          <span *ngIf="name.errors?.['pattern']">Name should be valid</span>
        </small>
      </div>

      <!-- EMAIL -->
      <div class="mb-4">
        <input
          type="text"
          class="w-full"
          id="email"
          pInputText
          formControlName="email"
          placeholder="Email"
        />
        <small
          class="block p-error"
          *ngIf="email.invalid && (email.dirty || email.touched)"
        >
          <span *ngIf="email.errors?.['required']"
            >Email should not be empty</span
          >
          <span *ngIf="email.errors?.['email']">Email should be valid</span>
        </small>
      </div>

      <!-- TOWN OR CITY -->
      <div class="mb-4">
        <p-autoComplete
          formControlName="town"
          [suggestions]="suggestions"
          (completeMethod)="search($event)"
          placeholder="Town / City"
          [inputStyle]="{
            width: '100%'
          }"
          [style]="{
            width: '100%'
          }"
        ></p-autoComplete>
        <small
          class="block p-error"
          *ngIf="town.invalid && (town.dirty || town.touched)"
        >
          Town/city should not be empty
        </small>
      </div>

      <!-- QUARTER OR LOCALITY -->
      <div class="mb-4">
        <p-autoComplete
          formControlName="quarter"
          [suggestions]="suggestions"
          (completeMethod)="search($event)"
          placeholder="Quarter / Locality"
          [inputStyle]="{
            width: '100%'
          }"
          [style]="{
            width: '100%'
          }"
        ></p-autoComplete>
        <small
          class="block p-error"
          *ngIf="quarter.invalid && (quarter.dirty || quarter.touched)"
        >
          Quarter/locality should not be empty
        </small>
      </div>

      <!-- PASSWORD -->
      <div class="mb-4">
        <input
          [type]="password"
          class="w-full"
          id="password"
          pInputText
          formControlName="password"
          placeholder="Password"
        />
        <small
          class="block p-error"
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <span *ngIf="password.errors?.['required']"
            >Password should not be empty</span
          >
          <span *ngIf="password.errors?.['minlength']"
            >Password should be more than 8 letters</span
          >
        </small>
      </div>

      <!--CONFIRM PASSWORD -->
      <div class="mb-4">
        <input
          [type]="password"
          class="w-full"
          id="confirmPassword"
          pInputText
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
        <small
          class="block p-error"
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)
          "
        >
          <span *ngIf="confirmPassword.errors?.['required']"
            >Confirm Password should not be empty</span
          >
          <span *ngIf="confirmPassword.errors?.['minlength']"
            >Confirm Password should be more than 8 letters</span
          >
        </small>

        <!-- PASSWORD MISMATCH ERROR -->
        <small>
          <span
            class="block p-error"
            *ngIf="RegisterForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
          >
            password should match
          </span>
        </small>
      </div>

      <!-- CONTINUE -->
      <div class="mb-4">
        <button
          type="submit"
          [disabled]="RegisterForm.invalid"
          class="p-button x-bg-primary border-teal-400 w-full justify-content-center text-xl"
          [ngClass]="{
            'opacity-20': RegisterForm.invalid
          }"
        >
          Continue
        </button>
      </div>

      <!-- OR -->
      <div class="flex justify-content-between align-items-center mb-4">
        <div class="x-bg-black25 Or-line"></div>
        <div class="text-md x-black50">or</div>
        <div class="x-bg-black25 Or-line"></div>
      </div>

      <!-- CONTINUE WITH GOOGLE -->
      <button type="button" class="google-btn mb-4">
        <img src="./assets/images/auth/google icon.png" alt="google icon" />
        <div class="text-white">Continue with Google</div>
      </button>

      <!-- CONTINUE WITH FACEBOOK -->
      <button type="button" class="facebook-btn mb-4">
        <img src="./assets/images/auth/facebook icon.png" alt="facebook icon" />
        <div>Continue with Facebook</div>
      </button>

      <!-- DON'T HAVE AN ACCOUNT -->
      <div class="flex align-items-center justify-content-center gap-2 mb-4">
        <div class="x-bg-black25 Dont-line"></div>
        <div class="text-sm x-black50 text-center">Don't have an Account?</div>
        <div class="x-bg-black25 Dont-line"></div>
      </div>

      <!-- DON'T HAVE AN ACCOUNT BUTTON-->
      <div class="register-link">
        <a routerLink="/register"> Create an account </a>
      </div>
    </form>
  </div>
</section>
