<!-- TOAST -->
<p-toast></p-toast>

<section class="flex justify-content-center">
  <div
    class="w-full border-1 shadow-2 mx-1 border-gray-300 border-round-2xl flex align-items-center flex-column"
    style="max-width: 40rem; padding: 55px 0px 55px 0px"
  >
    <h5 class="title text-2xl mb-5">Sign Up to JOBMASTER</h5>
    <form [formGroup]="RegisterForm" (submit)="submitForm()">
      <!-- NAME -->
      <div class="flex justify-content-between gap-1">
        <!-- FIRST NAME -->
        <div class="mb-4">
          <input
            type="text"
            class="w-full"
            id="fname"
            pInputText
            formControlName="fname"
            placeholder="First Name"
          />
          <small
            class="block p-error"
            *ngIf="fname.invalid && (fname.dirty || fname.touched)"
          >
            <span *ngIf="fname.errors?.['required']"
              >First name should not be empty</span
            >
            <span *ngIf="fname.errors?.['pattern']"
              >First name should be valid</span
            >
          </small>
        </div>

        <!-- LAST NAME -->
        <div class="mb-4">
          <input
            type="text"
            class="w-full"
            id="lname"
            pInputText
            formControlName="lname"
            placeholder="Last Name"
          />
          <small
            class="block p-error"
            *ngIf="lname.invalid && (lname.dirty || lname.touched)"
          >
            <span *ngIf="lname.errors?.['required']"
              >Last name should not be empty</span
            >
            <span *ngIf="lname.errors?.['pattern']"
              >Last name should be valid</span
            >
          </small>
        </div>
      </div>

      <!-- EMAIL -->
      <div class="mb-4">
        <input
          type="text"
          class="w-full"
          id="email"
          pInputText
          formControlName="email"
          placeholder="Email"
        />
        <small
          class="block p-error"
          *ngIf="email.invalid && (email.dirty || email.touched)"
        >
          <span *ngIf="email.errors?.['required']"
            >Email should not be empty</span
          >
          <span *ngIf="email.errors?.['email']">Email should be valid</span>
        </small>
      </div>

      <!-- Town -->
      <div class="mb-4">
        <p-autoComplete
          formControlName="town"
          [suggestions]="suggestions"
          (completeMethod)="search($event)"
          placeholder="Town / City"
          [inputStyle]="{
            width: '100%'
          }"
          [style]="{
            width: '100%'
          }"
        ></p-autoComplete>
        <small
          class="block p-error"
          *ngIf="town.invalid && (town.dirty || town.touched)"
        >
          town should not be empty
        </small>
      </div>

      <!-- QUARTER -->
      <div class="mb-4">
        <p-autoComplete
          formControlName="quarter"
          [suggestions]="suggestions"
          (completeMethod)="search($event)"
          placeholder="Quarter / City"
          [inputStyle]="{
            width: '100%'
          }"
          [style]="{
            width: '100%'
          }"
        ></p-autoComplete>
        <small
          class="block p-error"
          *ngIf="quarter.invalid && (quarter.dirty || quarter.touched)"
        >
          Quarter should not be empty
        </small>
      </div>

      <!-- PASSWORD -->
      <div class="mb-4">
        <input
          type="password"
          class="w-full"
          id="password"
          pInputText
          formControlName="password"
          placeholder="Password"
        />
        <small
          class="block p-error"
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <span *ngIf="password.errors?.['required']"
            >Password should not be empty</span
          >
          <span *ngIf="password.errors?.['minlength']"
            >Password should be more than 8 letters</span
          >
        </small>
      </div>

      <!--CONFIRM PASSWORD -->
      <div class="mb-4">
        <input
          type="password"
          class="w-full"
          id="confirmPassword"
          pInputText
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
        <small
          class="block p-error"
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)
          "
        >
          <span *ngIf="confirmPassword.errors?.['required']"
            >Confirm Password should not be empty</span
          >
          <span *ngIf="confirmPassword.errors?.['minlength']"
            >Confirm Password should be more than 8 letters</span
          >
        </small>

        <!-- PASSWORD MISMATCH ERROR -->
        <small>
          <span
            class="block p-error"
            *ngIf="RegisterForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
          >
            password should match
          </span>
        </small>
      </div>

      <!-- I WANT TO -->
      <div class="mb-4">
        <div class="text-center font-semibold">I want to</div>
        <div class="flex mt-3">
          <button
            name="client"
            type="button"
            class="w-full justify-content-center text-lg border-round-left cursor-pointer"
            [ngClass]="{
              ' x-bg-primary border-none text-white': accountType === 'client',
              ' bg-transparent border-2 x-black75 border-right-none  border-gray-400':
                accountType !== 'client'
            }"
            style="padding: 0.7rem 0"
            (click)="handleAccountType($event)"
          >
            Find a Worker
          </button>
          <button
            name="serviceProvider"
            type="button"
            class="w-full justify-content-center text-lg border-round-right text-lg cursor-pointer"
            [ngClass]="{
              ' x-bg-primary border-none text-white':
                accountType === 'serviceProvider',
              ' bg-transparent border-2 x-black75 border-left-none  border-gray-400 ':
                accountType !== 'serviceProvider'
            }"
            style="padding: 0.7rem 0"
            (click)="handleAccountType($event)"
          >
            Be a Service Provider
          </button>
        </div>
      </div>

      <!-- SEND EMAILS -->
      <div class="mb-3 flex gap-2 align-items-start">
        <input
          type="checkbox"
          pInputCheckbox
          id="sendEmails"
          formControlName="sendEmails"
          style="scale: 1.2; margin-top: 5px"
        />
        <label for="sendEmails" class="x-black75"
          >Yes, Send me genuinely useful emails every now and then.
        </label>
      </div>

      <!-- TERMS AND CONDITIONS -->
      <div class="mb-4 flex gap-2 align-items-start">
        <input
          type="checkbox"
          pInputCheckbox
          id="termsAndConditions"
          formControlName="termsAndConditions"
          class="mt-2"
          style="scale: 1.2; margin-top: 5px"
        />
        <label for="termsAndConditions" class="x-black75"
          >Yes, I understand and agree to the JobMaster
          <a routerLink="/auth/login">Terms of services</a>, including the
          <a routerLink="/auth/login">user Agreement</a> and
          <a routerLink="/auth/login">Privacy Policy</a>
        </label>
      </div>

      <!-- CONTINUE -->
      <div class="mb-4">
        <button
          type="submit"
          [disabled]="RegisterForm.invalid"
          class="p-button x-bg-primary border-teal-400 w-full justify-content-center text-xl"
          [ngClass]="{
            'opacity-20': RegisterForm.invalid
          }"
        >
          Continue
        </button>
      </div>

      <!-- OR -->
      <div class="flex justify-content-between align-items-center mb-4">
        <div class="x-bg-black25 Or-line"></div>
        <div class="text-md x-black50">or</div>
        <div class="x-bg-black25 Or-line"></div>
      </div>

      <!-- CONTINUE WITH GOOGLE -->
      <button
        type="button"
        class="google-btn mb-4"
        (click)="handleGoogleLogin()"
      >
        <img src="./assets/images/auth/google icon.png" alt="google icon" />
        <div class="text-white">Continue with Google</div>
      </button>

      <!-- CONTINUE WITH FACEBOOK -->
      <!-- <button
        type="button"s
        class="facebook-btn mb-4"
      >
        <img src="./assets/images/auth/facebook icon.png" alt="facebook icon" />
        <div>Continue with Facebook</div>
      </button> -->

      <!-- Already have an Account BUTTON-->
      <div class="register-link">
        <a routerLink="/auth/login"> Log In </a>
      </div>
    </form>
  </div>
</section>
