<footer>
  <!-- UPPER FOOTER -->
  <div class="px-1 lg:px-5">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <div class="font-semibold text-xl">What is JobMaster</div>
        <p>
          JobMaster web platform that helps individuals find employment
          opportunities that can be done remotely, usually from home or any
          location outside of a traditional office environment.
        </p>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="font-semibold text-xl">Quick links</div>
        <ul
          style="list-style: none; padding: 0; line-height: 1.7rem"
          class="x-black75"
        >
          <li><a routerLink="#">Home</a></li>
          <li><a routerLink="#">Employers</a></li>
          <li><a routerLink="#">Go to top</a></li>
        </ul>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <ul
          style="list-style: none; padding: 0; line-height: 1.7rem"
          class="x-black75"
        >
          <li><a routerLink="#">Job List</a></li>
          <li><a routerLink="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="font-semibold text-xl">Get In Touch</div>
        <div class="opacity-80">
          <div>Address: Molyko - Buea</div>
          <div>Email: {{ "Tanytikuarrey@gmail.com" }}</div>
          <div>Phone: +237674751815</div>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4 opacity-20" />

  <!-- LOWER FOOTER -->
  <div class="px-1 lg:px-5">
    <div class="grid x-black75">
      <!-- COL 1 -->
      <div class="col-12 lg:col flex flex-wrap gap-4 align-items-center">
        <a routerLink="/" class="font-semibold flex align-items-center gap-1"
          >JobMaster Inc
          <img
            src="./assets/images/layout/footer/copyright icon.png"
            alt="Copyright icon"
        /></a>
        <a
          routerLink="/terms"
          class="font-semibold flex align-items-center gap-1"
          >Terms</a
        >
        <a
          routerLink="/privacy"
          class="font-semibold flex align-items-center gap-1"
          >Privacy</a
        >
        <a routerLink="/" class="font-semibold flex align-items-center gap-1">
          <img
            src="./assets/images/layout/footer/globe icon.png"
            alt="globe icon"
          />
          English</a
        >
      </div>
      <!-- COL-3 -->
      <div
        class="col-12 lg:col-3 flex align-items-center justify-content-center lg:justify-content-end gap-3"
      >
        <div class="flex app-icon">
          <img
            src="/assets/images/layout/footer/playstore icon.png"
            alt="Playstore icon"
          />
          <img
            src="/assets/images/layout/footer/appstore icon.png"
            alt="Appstore icon"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
