<section
  class="flex justify-content-center align-items-center"
  style="min-height: 30rem"
>
  <div
    class="w-full border-1 shadow-2 mx-1 border-gray-300 border-round-2xl flex align-items-center flex-column"
    style="max-width: 35rem; padding: 55px 0px 55px 0px"
  >
    <h5 class="title text-2xl mb-5">Forgot Password</h5>
    <form
      *ngIf="!tokenSendSuccess"
      [formGroup]="ForgetPwdForm"
      (submit)="submitForm()"
    >
      <!-- EMAIL -->
      <div class="mb-4">
        <input
          type="text"
          class="w-full"
          id="email"
          pInputText
          formControlName="email"
          placeholder="Enter your email"
        />
        <small
          class="block p-error"
          *ngIf="email.invalid && (email.dirty || email.touched)"
        >
          <span *ngIf="email.errors?.['required']"
            >Email should not be empty</span
          >
          <span *ngIf="email.errors?.['email']">Email should be valid</span>
        </small>
      </div>

      <!-- CONTINUE -->
      <div class="mb-4">
        <button
          type="submit"
          [disabled]="ForgetPwdForm.invalid"
          class="p-button x-bg-primary border-teal-400 w-full justify-content-center text-xl"
          [ngClass]="{
            'opacity-20': ForgetPwdForm.invalid
          }"
        >
          Continue
        </button>
      </div>
    </form>
    <div
      *ngIf="tokenSendSuccess"
      class="flex flex-column align-items-center text-center"
    >
      <i class="pi pi-envelope x-primary" style="font-size: 5rem"></i>
      <div class="text-xl font-medium x-black50">
        Check your email to <br />
        reset password
      </div>
      <!-- CONTINUE -->
      <div class="mt-2">
        <button
          type="submit"
          class="p-button x-bg-primary border-teal-400 w-full justify-content-center text-xl"
          (click)="tokenSendSuccess = !tokenSendSuccess"
        >
          Try again
        </button>
      </div>
    </div>
  </div>
</section>
